@keyframes resting {
    0% {left:0rem; top:0rem; right:0rem; bottom:0rem;}
    50% {left:0rem; top:-3rem; right:0rem; bottom:0rem;}
    100% {left:0rem; top:0rem; right:0rem; bottom:0rem;}
}
* {
    color: white;
}
main {
    position: relative;
    text-align: center;

    form {
        display: flex;
        justify-content: center;
    }

    .showSection {
        visibility: visible;
    }
    section {
        position: absolute;
        visibility: hidden;

        .finishedStep {
            opacity: 0;
            transition: .5s ease-in-out all;
        }

        div.form-group {
            display: flex;
            justify-content: center;

            .form-control {
                margin-top: 1rem;
                width: 17rem;
            }
            input.form-control {
                color: gray;
            }
        }
        button {
            color: #17a2b8;
        }
        input.form-control {
            color: gray;
        }
    }
    #firefly {
    width: 6rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    position: relative;
    animation-name: resting;
    animation-duration: 3s;
    animation-delay: -3s;
    animation-iteration-count: infinite;
    }
}